@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #2B0B41;
    --text: #6F0AB2;
    --bg-alt: #E4E4E4;
    --bg-btn: #6C63FF;
    
}

@font-face {
    font-family: 'Roboto mono';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
    font-weight: 100 900;

}

body {
    background-color: var(--bg-color);
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.header-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-alt);
    width: 30%;
    padding: 5px 15px;
    color: var(--text);
}

.header-box a {
    color: var(--text);
    text-decoration: none;
}

.header-box h3 {
    border-left: 3.5px solid var(--text);
    padding-left: 5px;
}

.header-box button {
    border: none;
    background: none;
    transition: transform 0.2s ease;
}

.header-box button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
    gap: 10px;
}

.warning {
    display: none;
    background-color: white;
    padding: 5px;
}

#add-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    padding: 20px;
    gap: 10px;
    width: 50%;
}

#new-task {
    width: 50%;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    background-color: var(--bg-alt);
    text-align: center;
    font-size: 1.2em;
    color: var(--text);
    font-family: 'Roboto mono';
    outline: none;
    transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

#new-task:focus {
    border: 3px solid;
    border-color: #8882f8;
    box-shadow: 0 0 8px rgba(136, 130, 248, 0.6);
}

#add-btn {
    width: 15%;
    height: 40px;
    background-color: var(--bg-btn);
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-size: 1.2em;
}

#add-btn:hover {
    cursor: pointer;
    background-color: #8882f8;
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% */
}



#tasks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-alt);
    width: 40%;
    min-height: 100px; /* Altura inicial mínima */
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 10px;
    gap: 10px;
}

#tasks.has-task {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-height: 40vh; /* Altura máxima antes de ativar o overflow */
    overflow-y: auto;
    overflow-x: hidden;
    gap: 0;
}


.task-item {
    display: flex;
    padding: 5px 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    background-color: var(--bg-alt);
    color: var(--text);
    gap: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.277);
}

.task-item label {
    font-size: 1.1em;
}

.img-box {
    display: flex;
    align-items: center;
}

.checkbox-div {
    display: flex;
    width: 90%;
    gap: 10px;
    /* background-color: aquamarine; */
}

.bttn:hover {
    cursor:pointer;
}

.img-btn {
    background: none;
    border:none;
    transition: transform 0.2s ease;
}

.img-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

input[type="checkbox"]{
    width: 18px; /*Desired width*/
    height: 18px; /*Desired height*/
    cursor: pointer;

  }